.footer {
  padding: 0px;
}

.contact-us {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 20px;

  @media (max-width: 740px) {
    grid-auto-flow: row;
    text-align: center;
  }

  padding: 40px;

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 10px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
  }

  button {
    width: 160px;
    height: 58px;
  }
}

.map {
  background: #16697A;
  padding: 50px;
  gap: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .item {
    display: grid;
    place-items: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }

  .list {
    display: grid;
    gap: 10px;
  }

  :last-child {
    .item {
      display: grid;
      grid-auto-flow: column;
      gap: 10px;
      justify-content: flex-start;
    }
  }

  a {
    color: white;
    transition: color ease .25s;

    &:hover {
      color: rgb(196, 196, 196);
    }
  }
}

.basement {
  display: grid;
  grid-auto-flow: column;
  padding: 25px;
  justify-content: space-between;

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
  }

  .social {
    display: grid;
    grid-auto-flow: column;
    width: 156px;
    gap: 20px
  }
}
