.showcase {
  background-color: white;

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.showcase-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;

  &__container {
    max-width: 511px;
  }

  &__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $second-text-color;
    margin-top: 10px;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: $text-color;
  }
}

.showcase-body {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60% 40%;
  padding: 0px 40px;
  gap: 50px;
  place-items: center;
  
  @media (max-width: 1050px) {
    grid-auto-flow: row;
    grid-template-columns: unset;
    place-items: center;

    .description {
      max-width: 400px;
    }
  }

  .video {
    background-image: url(../images/content/meeting-room.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 600px;
    height: 442px;
    width: 100%;
  }

  .content {
    display: grid;
    grid-auto-flow: column;
    margin-top: 50px;
    gap: 20px;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: $text-color;
  }

  &__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $second-text-color;
    margin-top: 10px;
  }

  img.play-button {
    position: relative;
    top: 170px;
    left: 40%;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
  }

  .label {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
