body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1046px;  
  margin: 0 auto;
  padding: 0px 30px;

//   margin-right: auto;
//   margin-left: auto;
}

section {
  padding: 80px 0;
}

.features {
  background: #fafafa;
}